body {
    background-color: rgb(254, 250, 239) !important;
    font-family: 'Rubik', sans-serif !important;
    font-size: 20px !important;
}

.pt-sans-bold {
    font-family: 'PT Sans', sans-serif;
    font-weight: bold;
    font-size: 24px;
}

.pt-sans-regular {
    font-family: 'PT Sans', sans-serif;
    font-weight: 400;
    font-size: 24px;
}

.rubik-bold {
    font-family: 'Rubik', sans-serif;
    font-weight: bold;
    font-size: 24px;
}

.bg-brain {
    background-image: url('img/brainbg.jpg');
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.img-trophy {
    position: absolute;
    right: 0;
    bottom: 125px;
    object-fit: contain;
    height: 250px;
}

.img-brain {
    object-fit: contain;
    height: 70px;
    width: 70px;
    margin-bottom: 16px;
}

.endscreen {
    height: 450px;
    width: 550px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.btn-right {
    position: absolute;
    right: 24px;
    bottom: 24px;
}

.btn-primary {
    background-color: rgb(255, 77, 14) !important;
    border-color: unset !important;
}

.margin-top {
    margin-top: 16px;
}

.btn-secondary {
    background-color: #0D6EFD !important;
    border-color: unset !important;
    margin-top: 16px;
}

.main-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    background-color: rgb(254, 250, 239) !important;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 95vh;
}

.logo {
    object-fit: contain;
    height: 60px;
    width: 60px;
    margin: 14px;
}

.nav-link {
    cursor: pointer;
    user-select: none;
}

.nav-container {
    background-color: rgb(39, 53, 92);
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 0.25rem 0 0 0.25rem;
}

a:visited {
    color: lightgrey;
}

a:hover {
    color: white !important;
}

.active {
    border-left: 7px solid white;
    transition: all 125ms ease-in-out;
    color: white !important;
}

a {
    color: lightgrey !important;
    border-left: 7px solid rgb(39, 53, 92);
}

.card {
    flex-direction: row !important;
    border: unset;
    width: 700px;
    height: 500px;
}

.question-footer {
    border-top: 1px solid rgba(0, 0, 0, 0.4);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 24px;
}

.quiz-answer {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    transition: all .2s ease-in-out;
}

.quiz-answer:hover {
    cursor: pointer;
    transform: scale(1.02);
}

.letter {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 26px;
    max-height: 26px;
    background-color: lightgray;
    margin: 12px;
}

.score {
    color: #EC8C40;
}

.bg-success, .bg-danger {
    --bs-bg-opacity: 0.6 !important;
}

.btn-grey {
    border-radius: 100%;
    border: unset;
    color: rgb(39, 53, 92);
    background-color: rgb(174, 174, 173);
    cursor: pointer;
    min-height: 32px;
    min-width: 32px;
}

.color-white {
    color: white;
}

.width-100 {
    width: 100%;
}

.text-center {
    text-align: center;
}

.progress {
    background-color: rgb(174, 174, 173) !important;
    border-radius: 0 !important;
}

.progress-bar {
    background-color: rgb(39, 53, 92) !important;
    border-radius: 0 8px 8px 0 !important;
}

.button-row {
    display: flex;
    justify-content: center;
    margin-top: 16px;
}

@media(max-width: 768px) {

    body {
        font-size: 18px !important;
    }

    .pt-sans-bold {
        font-family: 'PT Sans', sans-serif;
        font-weight: bold;
        font-size: 24px;
    }

    .pt-sans-regular {
        font-family: 'PT Sans', sans-serif;
        font-weight: 400;
        font-size: 24px;
    }

    .rubik-bold {
        font-family: 'Rubik', sans-serif;
        font-weight: bold;
        font-size: 20px;
    }

    .logo {
        margin-right: 48px;
    }

    .quiz-answer {
        min-height: 80px !important;
        max-height: 100px;
    }

    .btn-right {
        position: unset;
    }

    .btn-grey {
        min-height: 50px;
        min-width: 50px;
    }
    
    .img-trophy {
        display: none;
    }

    .card {
        flex-direction: column !important;
        border-radius: 0 !important;
    }

    .quiz-card {
        min-width: 100vw !important;
        min-height: 95vh;
    }

    .bg-brain {
        width: 100%;
    }

    .nav-container {
        flex-direction: row;
        border-radius: 0 !important;
    }

    #flex-responsive {
        flex-direction: row !important;
    }

    .active {
        border-bottom: 7px solid white;
        border-left: 0;
    }

    a {
        border-bottom: 7px solid rgb(39, 53, 92);
        border-left: 0;
    }

    .responsive-row {
        display: flex !important;
        flex-direction: row !important;
    }

    .endscreen {
        height: 100%;
        width: 100%;
    }

    .h5, h5 {
        font-size: 1.1rem !important;
    }
}

@media(max-width: 720px) {
    body {
        font-size: 16px !important;
    }

    .pt-sans-bold {
        font-family: 'PT Sans', sans-serif;
        font-weight: bold;
        font-size: 20px;
    }

    .pt-sans-regular {
        font-family: 'PT Sans', sans-serif;
        font-weight: 400;
        font-size: 20px;
    }

    .rubik-bold {
        font-family: 'Rubik', sans-serif;
        font-weight: bold;
        font-size: 18px;
    }
}